@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap);

body {
	background-color: rgb(12, 12, 97);
	font-family: "Rubik", sans-serif;
}
.login {
	color: white;
	width: 320px;
	padding: 160px 150px 180px 100px;
	margin: auto;
	text-align: center;
	margin-bottom: 10px;
}
.login input {
	font-family: "Rubik", sans-serif;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	background: #062442;
	border-radius: 4px;
	margin-bottom: 10px;
	resize: none;
	width: 250px;
	right: 20px;
	font-size: 12px;
}
button {
	width: 265px;
	background: rgb(28, 119, 255);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 4px;
	padding: 9px 10px;
}
